.fave{
    background-color: rgba(5, 150, 12, 0.526);
}
#title{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-left:12.5rem;
    gap: 23rem;
}
#form{
    display: flex;
    margin-left: 13.5rem;
    margin-top: 2.2rem;
}
ul {
    list-style: none;
}
#lista{
    position:absolute;
}