#botones {
    margin-top: 3rem;
    display: flex;
    gap: 55px;
}

#enterName {
    display: flex;
    flex-direction: column;
    padding: 6px;
    
}

#labelName {
    margin-bottom: 5px;

}
#nombreForm{
    border:none;
    outline: none;
    padding: 5px;
    padding-left: 6px;
    background-color: rgba(247, 247, 146, 0.575);
}
